
    <ul>
        <li>Title: {{title}} </li>
        <li>Description: {{description}} </li>
        <li>Code: {{code}} </li>
        <li>Precio: {{precio}} </li>
        <li>Status: {{status}} </li>
        <li>Stock: {{sotck}} </li>
        <li>Category: {{category}} </li>
    </ul>
 